body {
    background: #efefef;
}

html, body{
	margin: 10px;
}

.jumbotron {
background-image: url("https://media.giphy.com/media/S9oOiPA3AlyO3FHc8D/giphy.gif") ; 
background-position:  center center;
height:250px;
background-repeat: no-repeat;
background-size: auto 100%;
border-bottom:1px solid #0e0d0d
}

.card-header{
  text-align: center;
}

.form-control{
  text-align: center;
}