
body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #222;
	background-color: #ECF0F1;
	text-align: center;
}

li{
 padding-bottom: 10px; 
}

ol {
	list-style-position: inside;
}
ul {
	list-style-type: none;
}

input {
  display: block;
  position: relative;
  margin: 10px auto;

}
input#button {
  width: 230px;
}
.view {
  position:relative;
  margin: auto;
  border: 1px  solid  #aaa;
  padding: 0px;
  width: 50%;
}


