* {
	text-align: center;
}

html {
  height: 100%;
  
}

body {
	display: grid;
	grid-template-columns: auto;
}

.title { 
    display: flex;
    justify-content: center;
    margin-top: 50px; 
   font-size: 200%;
   font-weight: bold;
}

.user-tag {
   font-size: 200%;
   font-weight: bold;
 padding-right: 30%;
}

.npc-tag {
  font-size: 200%;
   font-weight: bold;
 padding-left: 30%;
}

.score {
  padding-top: 100px;
font-size: 5vw;
   font-weight: bold;
}